/**
 * styles.css
 *
 * Computer Science 50
 * CS50 Project
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    /* surround with whitespace */
    margin-bottom: 0px;
    margin-top: 15px;
}

#top .nav
{
    /* center navigation pills */
    display: inline-block;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}

.button {
	background: #25A6E1;
	background: top,#25A6E1 0%,#188BC0 100%;
	background: linear, left top,left bottom, 0%,#25A6E1,-100%,#188BC0;
	background: top, #25A6E1 0%,#188BC0 100%;
	background: top,#25A6E1 0%,#188BC0 100%;
	padding:8px 13px;
	color:#fff;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	border-radius:10px;
	border:1px solid #1A87B9
}       

.textarea {
  margin-top: 10px;
  margin-left: 50px;
  width: 500px;
  height: 100px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: #FFFFFF #FFFFFF;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


.textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.trans {
background-color: rgb(255, 255, 255);
border-radius: 0px;
border: 1px solid rgb(204, 204, 204);
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
box-sizing: border-box;
color: rgb(85, 85, 85);
cursor: pointer;
display: inline-block;
font-size: 14px;
font-weight: normal;
height: 30px;
letter-spacing: normal;
line-height: normal;
margin: 0px 0px 10px 0px;
padding: 4px 6px;
 
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
vertical-align: middle;
white-space: pre;
word-spacing: 0px;
 
width: 150px;
}



